body {
    padding: 15px;
    margin: 0;
    font-family: "Courier New", Courier, monospace;

}

div#background {
	position: fixed;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
	background: url("cart.png") no-repeat;
	background-position:bottom;
	background-attachment:fixed;
	background-color:black;
	color:lightblue;

}

p {
	padding: 20px;
}
.page-title{
	font-size: 50px;
	margin-top: 30px;
	margin-bottom: 30px;

}
h3:after
{
    content:' ';
    display:block;
    border:2px solid skyblue ;
	margin-bottom:30px;
	margin-top
}
ul.products {
    list-style: none;

}

.products-header {
    font-weight: bold;
    font-size : 20px;
    margin-top: 30px;
}

.product-details {
  background-color:black;
  color:black;
  margin-left: 20px;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
